{% if err %}
  <h3>{{err}}</h3>
{% else %}
  <h4>syncId: {{state.syncId}}</h4>
  {% if state.name %}
    <h3>{{state.name}}</h3>
  {% endif %}
  <p>
    <b>Status:</b> {{state.remoteStatus}}
  </p>
  <div class="networks">
    <!-- TODO: set url  -->
    <!-- Disabled facebook button -->
    <!--<div class="facebook">
      <fb:login-button scope="public_profile,email,user_about_me,user_actions.music,user_birthday,user_friends,user_education_history,user_hometown,user_location,user_photos,user_posts,user_religion_politics,user_tagged_places,user_work_history" onlogin="checkLoginState();"></fb:login-button>
    </div>-->
    <a href="https://api.instagram.com/oauth/authorize?client_id=208f9dfdb4b44a228b4c7f95b56bc58e&redirect_uri={{ rootUrl }}/insta?clientId={{ clientId }}&response_type=code&scope=basic+comments+relationships+likes+public_content+follower_list" target="_blank">login insta</a>
    <a href="{{state.auth.twitterUrl}}" target="_blank">Login Twitter</a>
    <a href="{{state.auth.linkedinUrl}}" target="_blank">Login Linkedin</a>
    <a href="{{state.auth.facebookUrl}}" target="_blank">Login Facebook</a>
  </div>

  <a class="valid-connections" href="/validConnections?clientId={{ clientId }}">Valid connections</a>
{% endif %}

