{% if err %}
  <h3>{{err}}</h3>
{% else %}
  <!--<h4>syncId: {{state.syncId}}</h4>
  {% if state.name %}
    <h3>{{state.name}}</h3>
  {% endif %}
  <p>
    <b>Status:</b> {{state.remoteStatus}}
  </p>-->

  <div class="purple-circle"></div>
  <div class="orange-circle"></div>
  <div class="blue-rectangle"></div>
  <div class="green-rectangle"></div>

  <div class="logo-title">
    <div class="logo"></div>
  </div>

  <div class="network-container">
    <div class="networks">
      <div class="connect">CONNEXION</div>
      <div class="top">
        <a class="network" href="{{state.auth.twitterUrl}}" target="_blank">
          <div class="twitter-icon icon"></div>
          <div class="icon-check"></div>
        </a>
        <a class="network" href="{{state.auth.facebookUrl}}" target="_blank">
          <div class="facebook-icon icon"></div>
          <div class="icon-check"></div>
        </a>
      </div>
      <div class="bottom">
        <a class="network" href="https://api.instagram.com/oauth/authorize?client_id=208f9dfdb4b44a228b4c7f95b56bc58e&redirect_uri={{ rootUrl }}/insta?clientId={{ clientId }}&response_type=code&scope=basic+comments+relationships+likes+public_content+follower_list" target="_blank">
          <div class="instagram-icon icon"></div>
          <div class="icon-check"></div>
        </a>
        <a class="network" href="{{state.auth.linkedinUrl}}" target="_blank">
          <div class="linkedin-icon icon"></div>
          <div class="icon-check"></div>
        </a>
      </div>
    </div>
  </div>

  <div class="helper">
    Pour une expérience optimale, il est conseillé de se connecter à un maximum de réseaux possibles.
  </div>

  <div class="valid-container">
    <a class="valid-connections" href="/validConnections?clientId={{ clientId }}">CRÉER MA SILHOUETTE</a>
  </div>
{% endif %}

