{% extends 'layouts/application.html' %}

{% block content %}
  <h2>Remote</h2>
  <div class="main">
    <div class="content"></div>
    <div class="facebook">
      <fb:login-button scope="public_profile,email,user_about_me,user_actions.music,user_birthday,user_friends,user_education_history,user_hometown,user_location,user_photos,user_posts,user_religion_politics,user_tagged_places,user_work_history" onlogin="checkLoginState();"></fb:login-button>
    </div>
    <div class="instagram">
      <div onClick="authorizeUser();">LOG IN INSTA</div>
    </div>
  </div>
{% endblock %}



{% block javascript %}
  <script src="//connect.facebook.net/en_US/sdk.js"></script>
  <script src="/javascripts/remote.js"></script>
{% endblock %}
